#header_sub {
  width: 100%;

  .inner {
    @include inner();
    position: relative;
    height: 120px;

    > h1 {
      position: absolute;
      left: 0;
      bottom: 15px;
      z-index: 11;

      a {
        @include fontN(700, 30px, 1, #000);
      }
    }

    .menuWeb {
      #gnb {
        position: absolute;
        right: 0;
        bottom: 0;

        &::after {
          @include clear();
        }

        li {
          float: left;

          &:last-child a {
            padding-right: 0;
          }

          a {
            @include fontM(700, 16px, 1, #222);
            position: relative;
            display: block;
            padding: 15px 20px;
          }
        }
      }

      .util {
        position: absolute;
        right: 0;
        top: 15px;

        &::after {
          @include clear();
        }

        li {
          float: left;

          a {
            @include fontM(500, 12px, 1, #999);
            display: block;
            padding: 0 20px;
            border-right: 1px solid #aaa;
          }

          &:last-child a {
            border-right: none;
            padding-right: 0;
          }
        }
      }
    }

    .btnCall {
      display: none;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 20px;
      z-index: 11;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s;
      }

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s;
      }

      span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s;
      }

      &.on {
        &::before {
          top: 50%;
          margin-top: -1px;
          transform: rotate(45deg);
        }
        &::after {
          bottom: 50%;
          margin-bottom: -1px;
          transform: rotate(-45deg);
        }
        span {
          transform: translateX(100%);
          opacity: 0;
        }
      }
    }

    //menu_mobile
    .menuMo {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      background: #fff;
      padding: 26px 30px;
      transition: 0.5s;
      z-index: 10;

      #gnbMo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        li {
          a {
            @include fontM(700, 5vmax, 1, #222);
            display: block;
            width: 100%;
            padding: 20px 0;
            text-align: center;
            transition: 0.35s;
          }
        }
      }

      .utilMo {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);

        li {
          float: left;

          a {
            @include fontM(600, 14px, 1, #aaa);
            border-right: 1px solid #aaa;
            padding: 0 20px;
          }

          &:first-child a {
            padding-left: 0;
          }

          &:last-child a {
            border-right: none;
            padding-right: 0;
          }
        }
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  //header
  #header_sub {
    .inner {
      width: 100%;
      height: 100px;

      > h1 {
        left: 30px;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        a {
          font-size: 25px;
        }
      }
      .menuWeb {
        display: none;
      }
      .btnCall {
        display: block;
      }

      .menuMo.on {
        right: 0;
      }
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile) {
  #header_sub {
    .inner {
      > h1 {
        left: 20px;
      }

      .btnCall {
        right: 20px;
      }
    }
  }
}
