#header_sub {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ddd;
  z-index: 2;

  .inner {
    @include inner();
    position: relative;
    height: 120px;

    > h1 {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 5;

      a {
        @include fontM(400, 26px, 45px, #000);
        display: block;
        height: 45px;
      }
    }

    .menuWeb {
      #gnb {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);

        &::after {
          @include clear();
        }

        a:hover {
          font-weight: 600;
          color: #222;
        }

        li {
          float: left;

          a {
            @include fontM(400, 15px, 45px, #444);
            position: relative;
            display: block;
            padding: 0 20px;
            height: 45px;

            &.on {
              font-weight: 700;
              color: #222;
            }
          }

          .sub {
            width: 1180px;
            height: 350px;
            padding: 30px 0;
            background-color: #fff;
            position: absolute;
            top: 46px;
            left: -56%;
            display: none;

            a:hover {
              font-weight: 600;
              color: #222;
            }

            &::before {
              content: '';
              display: block;
              width: calc((100vw - 118px) / 2 + 1px);
              height: 100%;
              position: absolute;
              top: 0;
              left: calc(100% - 1px);
              background-color: inherit;
            }

            &::after {
              content: '';
              display: block;
              width: calc((100vw - 118px) / 2 + 1px);
              height: 100%;
              position: absolute;
              top: 0;
              right: calc(100% - 1px);
              background-color: inherit;
              clear: both;
            }

            > h2 {
              @include fontM(400, 22px, 1, #222);
              float: left;
              width: 24%;
              margin-top: 12px;
              font-style: italic;
            }

            div {
              float: left;
              width: 24%;
              height: 100%;
              margin-left: 30px;

              > h2 {
                border-bottom: 1px solid #000;

                > a {
                  @include fontM(700, 18px, auto, #222);
                }
              }
              ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                li > a {
                  @include fontM(400, 16px, auto, #444);
                }
              }

              &.pic {
                float: right;
                width: 18%;
                margin-left: 0;

                img {
                  @include obfit();
                }
              }
            }
          }
        }
      }

      .icon {
        position: absolute;
        right: 0;
        bottom: 0;

        a {
          @include fontM(500, 15px, 45px, #444);
          margin-left: 30px;
          height: 45px;
        }
      }

      .util {
        position: absolute;
        right: 0;
        top: 15px;

        &::after {
          @include clear();
        }

        li {
          float: left;

          a {
            @include fontM(400, 12px, 1, #999);
            display: block;
            padding: 0 20px;
            border-right: 1px solid #aaa;
          }

          &:last-child a {
            border-right: none;
            padding-right: 0;
          }
        }
      }
    }

    .btnCall {
      display: none;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 20px;
      z-index: 5;

      &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
        transition: top 0.5s 0s, transform 0.5s 0.5s;
      }

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: bottom 0.5s 0s, transform 0.5s 0.5s;
      }

      span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        top: 50%;
        margin-top: -1px;
        text-indent: -9999px;
        transition: 0.5s;
      }

      &.on {
        &::before {
          top: 50%;
          margin-top: -1px;
          transform: rotate(45deg);
        }
        &::after {
          bottom: 50%;
          margin-bottom: -1px;
          transform: rotate(-45deg);
        }
        span {
          transform: translateX(100%);
          opacity: 0;
        }
      }
    }

    //menu_mobile
    .menuMo {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      background: #fff;
      padding: 26px 30px;
      transition: 0.5s;
      z-index: 2;

      #gnbMo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        li {
          a {
            @include fontM(400, 5vmax, 1, #222);
            display: block;
            width: 100%;
            padding: 15px 0;
            text-align: center;
            transition: 0.35s;

            &::after {
              content: '';
              display: block;
              width: 0%;
              height: 2px;
              background-color: #222;
              margin-top: 10px;
            }

            &:hover {
              &::after {
                animation: line 0.7s linear forwards;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes line {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  //header
  #header_sub {
    .inner {
      width: 100%;
      height: 100px;

      > h1 {
        left: 30px;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        a {
          font-size: 25px;
        }
      }
      .menuWeb {
        display: none;
      }
      .btnCall {
        display: block;
      }
      .menuMo.on {
        right: 0;
      }
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile) {
  #header_sub {
    .inner {
      > h1 {
        left: 20px;
      }

      .btnCall {
        right: 20px;
      }
    }
  }
}
