#member {
  width: 100%;
  overflow: hidden;

  &.motion {
    .inner {
      .txt {
        &::after {
          animation: line_h linear 0.5s forwards;
        }
        .txtContent {
          opacity: 1;
          transform: translateX(0);
        }
      }
      .pic {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .inner {
    @include inner();
    display: flex;
    justify-content: space-between;
    align-items: center;

    article {
      width: 50%;
      padding: 100px 60px;
    }
    .txt {
      text-align: center;
      position: relative;

      &::after {
        @include drawLine(1px, 100%);
        top: 0;
        right: 0;
      }

      .txtContent {
        transform: translateX(-100%);
        opacity: 0;
        transition: 0.5s 0.5s;

        h2 {
          @include fontM(400, 38px, 1, #222);
          margin-bottom: 30px;
          letter-spacing: 1px;
        }
        p {
          @include fontM(300, 16px, 1.4, #444);
          width: 80%;
          margin: 0 auto 50px;
        }
        a {
          @include fontM(400, 18px, 1, #333);
          display: block;
          width: 200px;
          margin: 0 auto;
          padding: 15px 30px;
          border: 1px solid #333;
          transition: 0.35s;

          &:hover {
            background-color: #333;
            color: #fff;
          }
        }
      }
    }

    .pic {
      height: 600px;
      padding: 100px 90px;
      transform: translateX(100%);
      opacity: 0;
      transition: 0.5s 0.5s;

      img {
        @include obfit();
        filter: grayscale(1);
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  #member {
    .inner {
      width: 100%;
      flex-wrap: wrap;
      padding: 100px 60px;

      article {
        width: 100%;
        padding: 0;
      }
      .txt {
        padding-bottom: 60px;
        width: 70%;
        margin: 0 auto;

        &::after {
          display: none;
        }
      }

      .pic {
        padding: 0;
      }
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile) {
  #member {
    .inner {
      padding: 100px 30px;
      .txt {
        width: 100%;
      }
    }
  }
}
