.gallery {
  #gallery {
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    article {
      width: 25%;
      border-right: 1px solid #222;
      &:nth-of-type(4n) {
        border-right: none;
      }

      @for $i from 1 through 4 {
        &:nth-last-of-type(#{$i}) .items {
          border-bottom: none;
        }
      }

      .items {
        padding: 20px 0;
        margin: 0 20px;
        border-bottom: 1px solid #222;
        cursor: pointer;

        &:hover {
          .pic {
            &::after {
              opacity: 1;
            }
            .hoverLine {
              opacity: 1;
              .top,
              .bottom {
                animation: hoverLine_w 0.6s linear forwards;
              }

              .left,
              .right {
                animation: hoverLine_h 0.6s linear forwards;
              }
            }
          }
        }

        span {
          @include fontM(400, 16px, 1, #222);
          margin-bottom: 15px;
          display: block;
        }

        .pic {
          position: relative;
          width: 100%;
          height: 350px;
          margin-bottom: 15px;

          &::after {
            content: 'VIEW';
            @include fontM(400, 20px, 350px, #eee);
            text-align: center;
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            background-color: rgba(0, 0, 0, 0.6);
            margin-top: -350px;
            opacity: 0;
            transition: 0.5s;
          }

          .hoverLine {
            position: absolute;
            width: calc(100% - 40px);
            height: 310px;
            top: 20px;
            left: 20px;
            padding: 20px;
            opacity: 0;
            z-index: 2;

            div {
              position: absolute;
              background-color: #fff;
              cursor: pointer;

              &.top {
                top: 0;
                left: 0;
                width: 0%;
                height: 1px;
              }

              &.left {
                top: 0;
                left: 0;
                width: 1px;
                height: 0%;
              }
              &.bottom {
                bottom: 0;
                right: 0;
                width: 0%;
                height: 1px;
              }

              &.right {
                bottom: 0;
                right: 0;
                width: 1px;
                height: 0%;
              }
            }
          }

          img {
            @include obfit();
          }
        }

        h2 {
          @include fontM(400, 14px, 1, #222);
          text-align: right;
          text-transform: capitalize;
        }
      }
    }
  }
}

#imgPop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  .pic {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > span {
    @include fontM(400, 20px, 1, #fff);
    position: absolute;
    top: 4vw;
    right: 4vw;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff;
      margin: 5px 0;
    }
  }
}

@keyframes hoverLine_w {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes hoverLine_h {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  .gallery {
    #gallery {
      width: 90%;
      margin: 0 auto;

      article {
        width: 50%;

        &:nth-of-type(2n) {
          border-right: none;
        }

        &:nth-last-of-type(3) .items {
          border-bottom: 1px solid #222;
        }
        &:nth-last-of-type(4) .items {
          border-bottom: 1px solid #222;
        }
      }
    }
  }

  #imgPop {
    .pic {
      padding: 7vw 10vw;

      img {
        @include obfit();
        object-fit: contain;
      }
    }

    > span {
      font-size: 16px;
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile) {
  .gallery {
    #gallery {
      width: 90%;
      margin: 0 auto;

      article {
        width: 100%;
        border-right: none;

        &:nth-last-of-type(2) .items {
          border-bottom: 1px solid #222;
        }
      }
    }
  }
}
