.department {
  .brand,
  .people {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .subTitle {
      width: 20%;
      margin-top: -45px;
      h2 {
        @include fontM(700, 24px, 1, #333);
        border-bottom: 2px solid #000;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      p {
        @include fontM(300, 16px, 1.4, #333);
        letter-spacing: 1px;
      }
    }

    .list {
      width: 70%;
    }
  }

  .brand {
    margin-bottom: 50px;

    > .list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      cursor: pointer;

      li {
        position: relative;
        width: 30%;
        padding: 20px 25px;
        margin-bottom: 30px;
        z-index: 1;

        h3,
        p,
        span {
          position: relative;
          z-index: 2;
        }

        h3 {
          @include fontM(700, 18px, 1, #333);
          margin-bottom: 20px;
        }

        p {
          @include fontM(300, 16px, 1.6, #555);
          margin-bottom: 30px;
        }

        span {
          @include fontM(300, 18px, 18px, #222);
          display: block;
          width: 20px;
          height: 20px;
          background-color: #fff;
          border-radius: 50%;
          text-align: center;
          opacity: 0;
        }

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #222;
        }

        &:hover {
          &::after {
            animation: line_fill 0.5s linear forwards;
          }

          h3 {
            color: #fff;
          }

          p {
            color: #ddd;
          }

          span {
            opacity: 1;
            transition: opacity 0.35s;
            transition-delay: 0.5s;
          }
        }
      }
    }
  }

  .people {
    .list {
      display: flex;
      flex-wrap: wrap;

      li {
        position: relative;
        width: 100%;
        display: block;

        .txt {
          width: 150px;
          position: absolute;
          bottom: 0;
          left: 220px;

          .name {
            margin-top: 20px;
          }
        }

        &:nth-of-type(2n) {
          margin-left: 70%;

          .txt {
            left: auto;
            right: 260px;
          }
        }

        .pic {
          width: 200px;
          height: 250px;

          img {
            @include obfit();
            filter: grayscale(1);
          }
        }

        span {
          @include fontM(400, 16px, 1, #444);
        }

        .name {
          @include fontM(300, 14px, 1, #555);
        }
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  .department {
    .brand,
    .people {
      padding: 0 30px;

      .subTitle {
        width: 100%;
        margin-bottom: 50px;
      }

      .list {
        width: 100%;
      }
    }

    .brand {
      > .list {
        li {
          width: 45%;

          h3 {
            font-size: 16px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    .people {
      .list {
        justify-content: space-between;

        li {
          width: 380px;
          margin: 0 auto 30px;

          &:nth-of-type(2n) {
            margin-left: auto;

            .txt {
              left: 220px;
              right: auto;
            }
          }
        }
      }
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile) {
  .department {
    .brand,
    .people {
      padding: 0 20px;
    }

    .brand {
      > .list {
        li {
          width: 100%;
        }
      }
    }

    .people {
      .list {
        li {
          width: 200px;
          margin-bottom: 80px;

          .txt {
            bottom: -60px;
            left: 0;
          }

          &:nth-of-type(2n) {
            .txt {
              left: 0;
              bottom: -60px;
            }
          }
        }
      }
    }
  }
}
