#visual {
  width: 100%;
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
  z-index: 1;

  .swiper-wrapper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 0 5%;
      position: relative;

      .inner {
        width: 100%;
        height: 100%;

        > div {
          position: absolute;
        }

        .title {
          width: 30vw;
          left: 5%;
          top: 10%;

          > div {
            position: relative;
            overflow: hidden;
            display: inline-block;
            padding: 15px 5px;
            margin-bottom: 10px;

            h2 {
              @include fontM(600, 50px, 1, #333);
              opacity: 0;
              text-transform: capitalize;
            }
          }
        }

        .desc {
          right: 10%;
          width: 50vw;
          top: 8%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 20px 0;

          h3 {
            @include fontM(600, 24px, 1, #222);
            width: 100%;
            margin-bottom: 30px;
          }

          p {
            @include fontM(300, 1.2vmax, 1.6, #555);
            width: 46%;
          }
        }

        .index {
          top: 40%;
          right: 5%;
          @include fontM(500, 50px, 1, #111);
        }

        .leftPic {
          left: 5%;
          bottom: 8vh;
          width: 30vw;
          height: 32vh;
          overflow: hidden;

          img {
            @include obfit();
          }
        }

        .rightPic {
          right: 0;
          bottom: 8vh;
          width: 60vw;
          height: 32vh;
          overflow: hidden;

          img {
            @include obfit();
          }
        }
      }
    }

    .btn {
      width: 60vw;
      height: 50px;
      position: absolute;
      right: 0;
      top: 35vh;

      > div {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0;
        z-index: 3;
        overflow: hidden;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          display: block;
          width: 50%;
          height: 2px;
          background-color: #000;
          transition: 0.7s;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          display: block;
          width: 50%;
          height: 2px;
          background-color: #000;
          transition: 0.7s;
        }

        span {
          @include fontM(400, 30px, 1, #111);
          position: absolute;
          top: 50%;
          opacity: 0;
          transition: all 0.5s;
          z-index: 2;
        }
      }

      .swiper-button-prev {
        left: -20px;

        &::before {
          left: 0;
          transform: rotate(-30deg);
          transform-origin: left center;
        }

        &::after {
          left: 0;
          transform: rotate(30deg);
          transform-origin: left center;
        }

        span {
          left: 50%;
          transform: translate(100%, -50%);
        }

        &:hover {
          &::before {
            transform: rotate(-180deg);
            transform-origin: center center;
            top: 2px;
            width: 100%;
          }

          &::after {
            transform: rotate(180deg);
            transform-origin: center center;
            top: 98px;
            width: 100%;
          }

          span {
            transform: translate(-50%, -50%);
            opacity: 1;
          }
        }
      }

      .swiper-button-next {
        left: 30px;

        &::before {
          right: 0;
          transform: rotate(30deg);
          transform-origin: right center;
        }
        &::after {
          right: 0;
          transform: rotate(-30deg);
          transform-origin: right center;
        }

        span {
          right: 50%;
          transform: translate(-100%, -50%);
        }

        &:hover {
          &::before {
            transform: rotate(180deg);
            transform-origin: center center;
            top: 2px;
            width: 100%;
          }

          &::after {
            transform: rotate(-180deg);
            transform-origin: center center;
            top: 98px;
            width: 100%;
          }

          span {
            transform: translate(50%, -50%);
            opacity: 1;
          }
        }
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  #visual {
    .swiper-wrapper {
      .swiper-slide {
        .inner {
          .title {
            width: 100vw;
            top: 0;

            > div {
              padding: 10px 5px;
              h2 {
                font-size: 40px;
              }
            }
          }

          .desc {
            right: 5%;
            width: 45vw;
            top: 26vh;
            padding: 0;

            h3 {
              margin-bottom: 10px;
              font-size: 20px;
            }

            p {
              width: 100%;
              font-size: 12px;
            }
          }

          .index {
            top: 54%;
          }

          .leftPic {
            bottom: 31vh;
            width: 40vw;
          }

          .rightPic {
            bottom: 0vh;
            width: 95vw;
            height: 30vh;
          }
        }
      }

      .btn {
        width: 50vw;
        height: 50px;
        position: absolute;
        right: 0;
        top: 46vh;

        > div {
          span {
            font-size: 24px;
          }
        }
      }
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile) {
  #visual {
    .swiper-wrapper {
      .swiper-slide {
        .inner {
          .title {
            width: 100vw;
            top: 0;

            > div {
              padding: 5px;
              h2 {
                font-size: 35px;
              }
            }
          }

          .desc {
            top: 24vh;
            h3 {
              margin-bottom: 10px;
              font-size: 18px;
            }

            p {
              font-size: 10px;
            }
          }

          .index {
            top: 55%;
            font-size: 40px;
          }

          .leftPic {
            bottom: 33vh;
            width: 40vw;
          }

          .rightPic {
            bottom: 0vh;
            width: 95vw;
            height: 30vh;
          }
        }
      }

      .btn {
        width: 50vw;
        height: 50px;
        position: absolute;
        right: 0;
        top: 46vh;

        > div {
          span {
            font-size: 24px;
          }
        }

        .swiper-button-next {
          left: 5px;
        }
      }
    }
  }
}
