.youtube {
  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .title {
      width: 100%;
    }

    div {
      h2 {
        @include fontM(700, 20px, 1, #333);

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          margin: 15px 0;
          background-color: #333;
        }
      }
    }

    .left_sec {
      width: 30%;
      height: fit-content;
      position: sticky;
      top: 0;
      left: 0;

      .about {
        margin-bottom: 40px;
        p {
          @include fontM(300, 18px, 1.6, #222);
          letter-spacing: 1px;
        }
      }

      .category {
        ul {
          li {
            margin: 10px 0;
            a {
              @include fontM(300, 18px, 1, #222);
            }

            &.on a {
              font-weight: 600;
            }
          }
        }
      }
    }

    .videoList {
      width: 68%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > h2 {
        width: 100%;
      }

      article {
        width: 48%;
        border-bottom: 2px solid #333;
        margin-bottom: 30px;
        padding: 10px 0 25px;
        cursor: pointer;

        &:hover {
          .pic {
            &::after {
              opacity: 1;
            }

            .hoverLine {
              opacity: 1;
              .top,
              .bottom {
                animation: line_w 0.6s linear forwards;
              }

              .left,
              .right {
                animation: line_h 0.6s linear forwards;
              }
            }
          }

          .txt {
            span {
              width: 120px;

              &::before {
                @include fontM(300, 12px, 0px, #fff);
                content: 'View Detail';
                width: 100%;
                height: 0;
                text-align: center;
              }

              &::after {
                display: none;
              }
            }
          }
        }

        .pic {
          position: relative;
          display: block;
          width: 100%;
          height: 200px;
          margin-bottom: 20px;

          &::after {
            content: 'VIEW';
            @include fontM(400, 20px, 200px, #eee);
            text-align: center;
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            background-color: rgba(0, 0, 0, 0.6);
            margin-top: -200px;
            opacity: 0;
            transition: 0.5s;
          }

          img {
            @include obfit();
          }

          .hoverLine {
            position: absolute;
            width: calc(100% - 40px);
            height: 160px;
            top: 20px;
            left: 20px;
            padding: 20px;
            opacity: 0;
            z-index: 2;

            div {
              position: absolute;
              background-color: #fff;
              cursor: pointer;

              &.top {
                top: 0;
                left: 0;
                width: 0%;
                height: 1px;
              }

              &.left {
                top: 0;
                left: 0;
                width: 1px;
                height: 0%;
              }
              &.bottom {
                bottom: 0;
                right: 0;
                width: 0%;
                height: 1px;
              }

              &.right {
                bottom: 0;
                right: 0;
                width: 1px;
                height: 0%;
              }
            }
          }
        }

        .txt {
          h3 {
            @include fontM(600, 18px, 1, #222);
            margin-bottom: 15px;
          }

          .desc {
            @include fontM(300, 16px, 1, #222);
            margin-bottom: 20px;
          }

          .date {
            @include fontM(300, 14px, 1, #555);
            margin-bottom: 20px;
          }

          span {
            position: relative;
            display: block;
            width: 20px;
            height: 20px;
            background-color: #333;
            border-radius: 10px;
            transition: 0.4s;

            &::before {
              content: '';
              display: block;
              width: 10px;
              height: 1px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: #fff;
            }

            &::after {
              content: '';
              display: block;
              width: 1px;
              height: 10px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}

.videoPop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5;

  .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > span {
    @include fontM(400, 20px, 1, #fff);
    position: absolute;
    top: 4vw;
    right: 4vw;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff;
      margin: 5px 0;
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  .youtube {
    .inner {
      div {
        h2 {
          font-size: 18px;
        }
      }

      .left_sec {
        padding-left: 30px;
        width: 35%;

        .about {
          p {
            font-size: 14px;
          }
        }

        .category {
          ul {
            li {
              a {
                font-size: 16px;
              }
            }
          }
        }
      }

      .videoList {
        padding-right: 30px;
        width: 60%;

        article {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }

  .videoPop {
    > span {
      font-size: 16px;
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile) {
  .youtube {
    .inner {
      .left_sec {
        position: relative;
        margin-bottom: 40px;
        padding: 0 20px;
        width: 100%;

        .about {
          p {
            font-size: 14px;
          }
        }

        .category {
          ul {
            li {
              a {
                font-size: 16px;
              }
            }
          }
        }
      }

      .videoList {
        padding: 0 20px;
        width: 100%;

        article {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}
