#footer {
  width: 100%;
  padding: 50px 0;
  background: #eee;

  .inner {
    @include inner();
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    h1 {
      @include fontM(bold, 24px, 1, #444);
      width: 100%;
      margin-bottom: 20px;
    }

    .link {
      width: 40%;
      display: flex;

      ul {
        width: 35%;

        li {
          @include fontM(600, 14px, 1, #444);
          padding: 10px 0;

          a {
            @include fontM(400, 12px, 1, #666);
          }
        }
      }
    }

    .contact {
      width: 40%;
      padding: 10px 0;

      h6 {
        @include fontM(600, 14px, 1, #444);
        margin-bottom: 10px;
      }
      p,
      address {
        @include fontM(400, 12px, 1.8, #666);
        letter-spacing: 0.5px;
      }

      .social {
        margin-top: 30px;

        .icon {
          display: flex;
          flex-wrap: wrap;

          li {
            margin-right: 20px;

            a {
              color: #333;
            }
          }
        }
      }
    }

    .copy {
      width: 100%;
      margin-top: 20px;
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #000;

      p {
        @include fontM(400, 12px, 1.8, #666);
        letter-spacing: 0.5px;
        margin-right: 50px;
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  #footer {
    padding: 40px 30px;

    .inner {
      width: 100%;
      h1 {
        font-size: 22px;
      }

      .link {
        width: 50%;

        ul {
          width: 50%;
        }
      }

      .contact {
        width: 45%;
      }

      .copy {
        padding-top: 20px;

        p {
          margin-right: 0;
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }
  }
}
/* mobile */
@media screen and (max-width: $mobile) {
  #footer {
    padding: 40px 20px;

    .inner {
      h1 {
        text-align: left;
      }
      .link {
        width: 100%;
        margin-bottom: 30px;

        ul {
          width: 50%;
        }
      }

      .contact {
        width: 100%;
      }

      .copy {
        padding-top: 20px;

        p {
          margin-right: 0;
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }
  }
}
