.content {
  width: 100%;
  padding-bottom: 0 0 150px;

  .sub_visual {
    width: 100%;
    height: 300px;
    background: #bbb;
    margin-bottom: 50px;
  }

  .inner {
    @include inner();
    min-height: 500px;

    .title {
      position: relative;
      margin-bottom: 100px;
      padding: 100px 0;
      //border-bottom: 2px solid #222;
      h1 {
        @include fontTitle(400, 96px, 1, #222);
        margin-bottom: 20px;
      }

      .circle {
        @include fontM(400, 14px, 100px, #fff);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #333;
        text-align: center;
        margin-left: 50px;
      }

      .txt {
        position: absolute;
        right: 0;
        bottom: 100px;
        width: 40%;

        p {
          @include fontM(400, 14px, 1.4, #333);
        }

        &:last-child p {
          margin-top: 15px;
        }
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  .content {
    padding: 0px 0px 100px;

    .sub_visual {
      height: 200px;
    }
    .inner {
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile) {
  .content {
    padding: 0px 0px 80px;

    .sub_visual {
      height: 150px;
    }

    .inner {
      h1 {
        span {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
}
