#mBrand {
  width: 100%;
  padding: 100px 0;

  .inner {
    @include inner();

    .brandPoint {
      margin-bottom: 50px;
      ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
          @include fontM(400, 30px, 1, #444);
          width: 30%;
          padding: 15px 0;
          border-top: 1px solid #222;
          height: 120px;

          span {
            @include fontM(600, 15px, 1, #888);
            vertical-align: super;
            margin-right: 10px;
          }
        }
      }
    }

    .brandInfo {
      border-top: 1px solid #222;
      border-bottom: 1px solid #222;
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap-reverse;

      .infoTxt {
        width: 60%;
        h3 {
          @include fontM(400, 50px, 1.2, #444);
          letter-spacing: 1px;
          margin-bottom: 130px;
        }

        h4 {
          @include fontM(400, 18px, 1, #666);
          margin-bottom: 20px;
        }

        p {
          @include fontM(300, 16px, 1.6, #888);
          letter-spacing: 1px;
          margin-bottom: 50px;
        }

        a {
          @include fontM(400, 16px, 50px, #eee);
          width: 50px;
          height: 50px;
          display: block;
          background-color: #444;
          border-radius: 50%;
          text-align: center;
          transition: 0.35s;
          position: relative;

          &:hover {
            text-indent: 60px;
            color: #444;
          }
        }
      }

      .crossPic {
        width: 28%;
        height: 420px;

        img {
          @include obfit();
          filter: grayscale(1);
        }
      }
    }
  }
}

/* tablet */
@media screen and (max-width: $tablet) {
  #mBrand {
    padding: 100px 30px;
    .inner {
      width: 100%;

      .brandPoint {
        ul {
          justify-content: space-evenly;
          li {
            width: 40%;
          }
        }
      }

      .brandInfo {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;

        .infoTxt {
          width: 100%;
          h3 {
            margin-bottom: 50px;
          }
        }

        .crossPic {
          width: 100%;
          height: 300px;
          margin-bottom: 30px;
        }
      }
    }
  }
}

/* mobile */
@media screen and (max-width: $mobile) {
  #mBrand {
    padding: 100px 20px;
    .inner {
      .brandPoint {
        ul {
          li {
            width: 100%;
          }
        }
      }

      .brandInfo {
        .infoTxt {
          width: 100%;
          h3 {
            font-size: 40px;

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
